/* GITHUB ALERTS (CALLOUTS) */

.gh-alert {
  background    : color-mix(in oklch, var(--bg) 85%, var(--color));
  border-left   : 0.25rem solid var(--color)!important;
  border-radius : 0.25rem;
  margin        : 1.25rem 0;
  padding       : 1.00rem!important;
  
  p { margin: 0; }
}

.gh-alert-title {
  color          : var(--color); 
  font-size      : 1em;
  font-weight    : bold;
  margin-bottom  : 0.35rem;
  text-transform : uppercase;
}

:root {
  --color-gh-caution   : #ff79c6;
  --color-gh-important : #bd93f9;
  --color-gh-note      : #8be9fd;
  --color-gh-tip       : #50fa7b;
  --color-gh-warning   : #f1fa8c;
}

.gh-alert-caution   { --color: var(--color-gh-caution);   }
.gh-alert-important { --color: var(--color-gh-important); }
.gh-alert-note      { --color: var(--color-gh-note);      }
.gh-alert-tip       { --color: var(--color-gh-tip);       }
.gh-alert-warning   { --color: var(--color-gh-warning);   }




