@import url('https://pulgasari.github.io/aufbau/css/themes/reset.css');
@import url('https://pulgasari.github.io/aufbau/css/themes/default.css');
@import url('https://pulgasari.github.io/aufbau/css/themes/zombie.css');

body {
  background : var(--aufbau-bg);
  color      : var(--aufbau-fg);
}

#app-body {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1 0 auto;
  }
}

#playground {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > * {
    flex: 1 0 auto;
    background: #ff03;
  }
}
