@import url('https://pulgasari.github.io/aufbau/css/reset.css');
@import url('https://pulgasari.github.io/aufbau/css/default.css');
@import url('https://pulgasari.github.io/aufbau/css/themes/zombie.css');

html, body { height: 100%; overflow: hidden; }
body       { height: 100dvh; }

body { display:flex; flex-flow: column; }
body > #app { flex: 1; }

#app { display:flex; flex-flow: column; }
#app > #app-header { flex: 0 0 auto; }
#app > #app-footer { flex: 0 0 auto; }
#app > #app-body   { flex: 1; min-height: 0; overflow-y: auto;
  padding    : 1rem!important;
}


#app-body     { display: flex; flex-direction: column; }
#app-body > * { flex: 1 0 auto; }

#playground     { display: flex; flex-direction: column; }
#playground > * { flex: 1 0 auto; }

#app-body     { background: #f002; padding: 1rem; }
#app-body > * { background: #0803; }

#playground     { gap: 1rem; }
#playground > * { background: #ff03; }

body {
  background : var(--aufbau-bg);
  color      : var(--aufbau-fg);
}

/*

#app {
  auffbau-flex: column;
}

@auffbau-layout {
  body       : flex column;
  #app       : flex column;
  #app-body  : flex column;
  playground : flex column;
}

*/

